.blog-actions {
    align-items: center;
    border-top: 1px dashed #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.blog-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 10px;

    a {
        border: 1px solid hsla(0, 7%, 66%, .4);
        border-radius: 0;
        color: inherit;
        display: inline-block;
        font-size: 13px;
        line-height: 1.4;
        margin: 3px;
        padding: 5px 12px;
        position: relative;
        transition: all .5s;


        &:hover {
            background-color: var(--primary-hover);
            border-color: var(--primary-hover);
            box-shadow: 0 5px 12px var(--rgba-primary-4);
            color: #fff;
        }
    }
}

.blog-tags-title {
    margin: 0;
    font-weight: 700;
    color: black;
}

.blog-socials {
    display: flex;
    flex-direction: row ;
    gap: 12px;
    margin-right: 10px;
}

.blog-date {
    font-size: 15px;
    margin: 0;
    color: #666666;
}

.hero {
    margin-bottom: 30px;
}

.blog-details {
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
}
