[data-theme-color="light"] {
  /* Primary */
  --primary: #ebc600;
  --primary-hover: #b89b00;
  --primary-dark: #9f8600;

  /* Primary RGBA */
  --rgba-primary-1: rgba(235, 198, 0, 0.1);
  --rgba-primary-2: rgba(235, 198, 0, 0.2);
  --rgba-primary-3: rgba(235, 198, 0, 0.3);
  --rgba-primary-4: rgba(235, 198, 0, 0.4);
  --rgba-primary-5: rgba(235, 198, 0, 0.5);
  --rgba-primary-05: rgba(235, 198, 0, 0.05);
  --rgba-primary-6: rgba(235, 198, 0, 0.6);
  --rgba-primary-7: rgba(235, 198, 0, 0.7);
  --rgba-primary-8: rgba(235, 198, 0, 0.8);
  --rgba-primary-9: rgba(235, 198, 0, 0.9);

  /* Other */
  --secondary: #232323;
  --theme-text-color: #232323;
  --title: #000000;

  /* Gradient */
  --gradient: linear-gradient(89deg, #f5d002 1.12%, var(--primary) 44%);
  --gradient-1: linear-gradient(90deg, var(--primary-dark) 47.55%, var(--primary) 100.15%);
  --gradient-2: linear-gradient(90deg, var(--primary-dark) 0%, var(--primary) 100%);
  --gradient-3: linear-gradient(180deg, var(--primary) 0%, #ab9000 100%);
  /* Box Shadow */
  --primary-shadow: linear-gradient(90deg, var(--primary) 47.55%, var(--primary-dark) 100.15%);

  /* extra variable */
  //--theme2-bg-pattern1: url(/pattern/theme/bg-pattern2.svg);

  --theme3-bg-color: #1e1c11;
  --theme3-secondary: #34311d;
  --theme3-secondary2: #ff9780;
}
